body {
    margin: 0px;
    padding: 0px;
    background: #dfdfdf;
    font-family: Arial;
    font-size: 14px;
    color: #243515;
}

.form {
    width: 400px;
    background: #fff;
    padding: 20px;
    margin: 10% auto 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    font-size: 18px;
}

.form .row {
    width: 100%;
    clear: both;
    margin: 20px 0px;
}

.form .row input {
    width: 60%;
    height: 20px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 12px;
}

.form input[name="name"] {
    background-image: url('/img/user-shape.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left: 30px;
}

.form input[name="email"] {
    background-image: url('/img/envelope.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left: 30px;
}

.form .row textarea {
    width: 90%;
    height: 100px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 12px;
    background-image: url('/img/pencil.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left: 30px;
}

.form .row input.error, .form .row textarea.error {
    border: 1px solid #ff0000;
}

.form .row input.success, .form .row textarea.success {
    border: 1px solid #3cff21;
}

.form .row button {
    background: #dfdfdf;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
}

span.success {
    color: #3cff21;
}